---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import PageLayout from "../../layouts/Page.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
